# Aggregation and Grouping exercises
<font color = emerald>Jessica Reyes<font>

In [1]:
import numpy as np
import pandas as pd

class display(object):
    """Display HTML representation of multiple objects"""
    template = """<div style="float: left; padding: 10px;">
    <p style='font-family:"Courier New", Courier, monospace'>{0}</p>{1}
    </div>"""
    def __init__(self, *args):
        self.args = args
        
    def _repr_html_(self):
        return '\n'.join(self.template.format(a, eval(a)._repr_html_())
                         for a in self.args)
    
    def __repr__(self):
        return '\n\n'.join(a + '\n' + repr(eval(a))
                           for a in self.args)

First let's load some data on NBA players:

In [2]:
df=pd.read_csv('https://raw.githubusercontent.com/sivabalanb/Data-Analysis-with-Pandas-and-Python/master/nba.csv')
df.head()

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0

Using this data answer the following.

* What is the average salary per team?

In [3]:
# average salary per team
df.groupby('Team').Salary.mean()

Team
Atlanta Hawks             4.860197e+06
Boston Celtics            4.181505e+06
Brooklyn Nets             3.501898e+06
Charlotte Hornets         5.222728e+06
Chicago Bulls             5.785559e+06
Cleveland Cavaliers       7.642049e+06
Dallas Mavericks          4.746582e+06
Denver Nuggets            4.294424e+06
Detroit Pistons           4.477884e+06
Golden State Warriors     5.924600e+06
Houston Rockets           5.018868e+06
Indiana Pacers            4.450122e+06
Los Angeles Clippers      6.323643e+06
Los Angeles Lakers        4.784695e+06
Memphis Grizzlies         5.467920e+06
Miami Heat                6.347359e+06
Milwaukee Bucks           4.350220e+06
Minnesota Timberwolves    4.593054e+06
New Orleans Pelicans      4.355304e+06
New York Knicks           4.581494e+06
Oklahoma City Thunder     6.251020e+06
Orlando Magic             4.297248e+06
Philadelphia 76ers        2.213778e+06
Phoenix Suns              4.229676e+06
Portland Trail Blazers    3.220121e+06
Sacramento Kings          4.778911e+06
San Antonio Spurs         5.629516e+06
Toronto Raptors           4.741174e+06
Utah Jazz                 4.204006e+06
Washington Wizards        5.088576e+06
Name: Salary, dtype: float64

* What is the average salary per team and position? In other words, compute how much do centers, power forwards etc. make in each team.

In [4]:
# average salary per team / position
df.groupby(['Team', 'Position']).Salary.mean()

Team                Position
Atlanta Hawks       C           7.585417e+06
                    PF          5.988067e+06
                    PG          4.881700e+06
                    SF          3.000000e+06
                    SG          2.607758e+06
                                    ...
Washington Wizards  C           8.163476e+06
                    PF          5.650000e+06
                    PG          9.011208e+06
                    SF          2.789700e+06
                    SG          2.839248e+06
Name: Salary, Length: 149, dtype: float64

* Who is the oldest player in each team?  Who is the oldest player in the Boston Celtics?

In [11]:
# Oldest player in each team
oldest_players = df.loc[df.groupby('Team')['Age'].idxmax()]

# Oldest player in Boston Celtics
oldest_boston = df[df['Team'] == 'Boston Celtics'].nlargest(1, 'Age')
oldest_boston_player = oldest_boston.iloc[0]['Name']

# Display results
print("Oldest players in each team:\n", oldest_players[['Team', 'Name', 'Age']])
print("\nOldest player in Boston Celtics:", oldest_boston_player)

Oldest players in each team:
                        Team               Name   Age
311           Atlanta Hawks       Kirk Hinrich  35.0
4            Boston Celtics      Jonas Jerebko  29.0
19            Brooklyn Nets       Jarrett Jack  32.0
330       Charlotte Hornets       Al Jefferson  31.0
154           Chicago Bulls      Mike Dunleavy  35.0
170     Cleveland Cavaliers  Richard Jefferson  35.0
236        Dallas Mavericks      Dirk Nowitzki  37.0
392          Denver Nuggets        Mike Miller  36.0
183         Detroit Pistons        Steve Blake  36.0
76    Golden State Warriors    Leandro Barbosa  33.0
256         Houston Rockets        Jason Terry  38.0
198          Indiana Pacers        Monta Ellis  30.0
102    Los Angeles Clippers     Pablo Prigioni  39.0
109      Los Angeles Lakers        Kobe Bryant  37.0
261       Memphis Grizzlies       Vince Carter  39.0
343              Miami Heat      Udonis Haslem  36.0
221         Milwaukee Bucks        Steve Novak  32.0
400  Minnesota Timberwolves      Kevin Garnett  40.0
292    New Orleans Pelicans   Kendrick Perkins  31.0
34          New York Knicks      Jose Calderon  34.0
420   Oklahoma City Thunder      Nazr Mohammed  38.0
367           Orlando Magic        C.J. Watson  32.0
46       Philadelphia 76ers        Elton Brand  37.0
124            Phoenix Suns     Tyson Chandler  33.0
434  Portland Trail Blazers        Chris Kaman  34.0
139        Sacramento Kings       Caron Butler  36.0
298       San Antonio Spurs         Tim Duncan  40.0
72          Toronto Raptors         Luis Scola  36.0
442               Utah Jazz      Trevor Booker  28.0
372      Washington Wizards        Drew Gooden  34.0

Oldest player in Boston Celtics: Jonas Jerebko

* Which college has produced the largest number of players?  You can use the `count` method as the aggregation method in your groupby operation.

In [12]:
# Count the number of players from each college
college_counts = df.groupby('College')['Name'].count()

# Find the college with the maximum number of players
most_common_college = college_counts.idxmax()
most_common_college_count = college_counts.max()

print(f"The college that has produced the largest number of players is {most_common_college} with {most_common_college_count} players.")

The college that has produced the largest number of players is Kentucky with 22 players.

* For each player, indicate whether he is earning more than the average for his team or not.  Here you can use the `apply` method.

In [14]:
df['AboveAvg'] = df.apply(lambda x: x['Salary'] > df[df['Team'] == x['Team']]['Salary'].mean(), axis=1)
df.head()

,Name,Team,Number,Position,Age,Height,Weight,College,Salary,AboveAvg
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0,True
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0,True
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN,False
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0,False
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0,True

* Choose one of the above exercises and do it without the ``groupby`` functionality.

In [9]:
# see, we can do it without groupby!  (but a bit more work?)
team_mean = {team: df[df['Team'] == team]['Salary'].mean() for team in df['Team'].unique()}
df['AboveAvg2'] = df.apply(lambda x: x['Salary'] > team_mean[x['Team']], axis=1)
df.head()

,Name,Team,Number,Position,Age,Height,Weight,College,Salary,AboveAvg,AboveAvg2
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0,True,True
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0,True,True
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN,False,False
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0,False,False
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0,True,True